@page "/"

<PageTitle>Главная</PageTitle>

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="flex-grow-1 pt-3 mt-5 ms-5">
            <h1 class="display-1 mb-5">Экспресс-доставка</h1>
            <h3><small class="text-muted">Быстро. Надежно. По всей стране.</small></h3>
            <a href="#footer" class="btn btn-primary btn-lg mt-5">
                <lead>Заказать</lead>
            </a>
        </div>
        <div class="flex-shrink-0">
            <img width="615" src="/images/Wavy_Tsp-02_Single-06.jpg" alt="..." class="me-1">
        </div>

    </div>
</div>
<div class="pt-5 container">
    <div class="row align-items-center">
        <div class="col-12">
            <h1 class="text-center">Молниеносная скорость</h1>

            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner mb-5 pb-3">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="/images/mini/slide-picture-1.jpg" class="d-block w-50 m-auto mb-5" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Курьером</h5>

                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="/images/slide-picture-2.jpg" class="d-block w-50 m-auto mb-5" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Самовывозом</h5>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/slide-picture-3.jpg" class="d-block w-75 m-auto mb-5" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Компенсируем задержку</h5>

                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5 mt-2">
    <div class="d-flex justify-content-center">
        <div class="">
            <img width="615" src="/images/woman_ab_us.jpg" alt="..." class="me-1">
        </div>
        <div class="flex-grow-1 pt-3 mt-5 ms-5">
            <div class="ms-2 me-3 column justify-content-center">
                <h2>Ценим обратную связь</h2>
                <p>Ваш отзыв важен для нас! Мы ценим каждую обратную связь, чтобы улучшить качество наших услуг. Пожалуйста, поделитесь вашим опытом с нами. Мы стремимся к постоянному совершенствованию и готовы принять любые ваши замечания или предложения. Наша цель - обеспечить вам лучший опыт в сфере курьерской доставки. Свяжитесь с нами сегодня и помогите нам стать еще лучше!</p>
            </div>
        </div>

    </div>
</div>

<div class="container pt-5 mt-5">
    <div class="justify-content-center">
        <h1 class="text-center mb-3">FAQ</h1>
        <Kachow.Client.Components.FAQ/>

    </div>
</div>
