<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-dark">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
        <span class="text-muted">© 2022 Kachow, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex pe-5">
        <li class="ms-3"><a class="text-muted" href="#"><img src="/images/1486147202-social-media-circled-network10_79475.png" width="24" height="24"></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><img src="/images/INSTAGRAM_icon-icons.com_65535.png" width="24" height="24"></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><img src="/images/whatsapp_icon-icons.com_65489.png" width="24" height="24"></a></li>
    </ul>
</footer>


@code {

}

