<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand px-4" href="">
            <img src="/images/delivery_icon_220022.png" width="30" height="30" class="d-inline-block align-top me-2" alt="">Kachow
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0 justify-content-end me-10">
                <li class="nav-item">
                    <a onclick="active" class="nav-link px-4" aria-current="page" href="tracking">Отслеживание</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4" href="calculator">Калькулятор</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4" href="data">Data</a>
                </li>

            </ul>
            <div class="justify-content-sm-start ms-3 me-2">
                <LoginWindow/>
                <RegistrationWindow/>
            </div>

        </div>
    </div>
</nav>

